{% extends 'core/layout.html' %}

{% block content %}
    <main>
        {% load static%}
        <div class="container color">
            <div class="row">
                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/hombre1poleron.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Poleron hombre estilo camisa color crema.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/hombre2camisa.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Camisa hombre negra corrugada.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/hombre3polera.webp'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Polera hombre gris con estampado.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>
            </div>  
            <br>
            <div class="row">

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/hombre4buzo.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Buzo gris hombre apretado.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/hombre5saco.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Saco hombre color gris formal.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;" >
                        <img src="{% static 'img/hombre6jeans.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Jeans hombre apretados.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}