{% extends 'core/layout.html' %}

{% block content %}
    <main>
        {% load static %}
        <div class="container color">
            <div class="row">
                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/mujer 1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Polera mujer con estampado de leopardo y encaje.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/mujer2blaser.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Blaser mujer largo, cuadrille.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/mujer3Short.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Short mujer deportivo con malla, verde olivo.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>
            </div>  
            <br>
            <div class="row">

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/mujer4polera.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Polera mujer con estampado de puntos y hombreras.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/mujer5pantalon.webp'%}" width=300 height=400 class="card-img-top" >
                        <div class="card-body">
                            <p class="card-text">Pantalon mujer de vestir color mostaza.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;" >
                        <img src="{% static 'img/mujer6jeans.jpg'%}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Jeans mujer roto de las piernas.</p>
                            <br>
                            <p>XS / S / M / L / XL / XXL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% endblock %}

 