{% extends 'core/layout.html' %}

{% block content %}
    <main>
        {% load static%}
        <div class="container color">
            <div class="row">
                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/niño1polar.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Polar niño con estampado.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/niño2shorts.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Short jeans niño.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/niño3poleron.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Poleron niño con diseño.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p>
                        </div>
                    </div>
                </div>
            </div>  
            <br>
            <div class="row">
                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/niño4capa.webp' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Capa azul marino  niña.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;">
                        <img src="{% static 'img/niño5vestido.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Vestido niña con estampado.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="" style="width: 18rem;" >
                        <img src="{% static 'img/niño6trajedebaño.webp' %} " class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Traje de baño con diseño.</p>
                            <br>
                            <p>4 / 6 / 8 / 10 / 12 / 14</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}    
   