{% extends "core/admin/layoutadmin.html" %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Bienvenido al Sistema {{user.username}}</h1>  
    </div>
    <a href="{% url 'inicio' %}" class="btn btn-danger">HOME</a>
    <center>
      <caption>
          <h4>Listado de Ropa en Base de Datos</h4>
      </caption>
    </center>
    <a href="{% url 'guardar_ropa' %}" class="btn btn-primary">Registrar Ropa</a>
    <table class="table">
      <tr>
        <th>Descripcion</th>
        <th>Seccion</th>
        <th>Talla</th>
        <th>Accion</th>
      </tr>
      {% for c in carrito %}
      <tr>
        <td>{{c.descripcion}}</td>
        <td>{{c.seccion}}</td>
        <td>{{c.talla}}</td>
        <td>          
          <a href="{% url 'modificar_ropa' c.descripcion %}" class="btn btn-primary">Modificar</a>
          <a href="{% url 'delete_ropa' c.descripcion %}" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </table>
</main>

{% endblock %}